/* .create-note {

    top: 3rem;
    left: 3rem;
    bottom: 1px;
    position: block;
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-top: 5%;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 10px 2px gray;
    z-index: 10;
} */

.title {
    border: none;
    padding-right: 30%;
    outline: none;
    margin-bottom: 6px;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 9px;
    padding-right: 70%;
    padding-left: 3%;
}

.create-note2 {
    /* margin-top: 1%; */
    top: 3rem;
    left: 3rem;
    bottom: 1px;
    position: block;
    box-shadow: 0px 0px 8px 0px rgba(107, 95, 95, 0.733);
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 25px;
    /* margin-bottom: 10%; */
    /* padding: 10px; */
    background-color: white;
    border-radius: 8px;
    z-index: 10;
}


/* .title {
    border: none;
    padding-right: 50%;
    padding-top: 1%;
    outline: none;
} */

.create-note-close {
    margin-left: 88%;
    margin-bottom: 1.5%;
    border: none;
    background: none;
    font-size: medium;
}

.create-note-close:active {
    border: none;
}

.modal-backdrop {
    opacity: 0.2 !important;
}

.note p {
    font-size: 0.8em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}