.custom-nav-bar {
    display: flex;
    background-color: rgb(238, 238, 238);
}

.custom-image {
    width: 40px;
    height: 40px;
    padding-left: 15px;
    padding-right: 12px;
}

.custom-brand {
    margin-top: 12px;
    margin-bottom: 5px;
    font-size: 23px;
    color: rgb(61, 60, 60);
}

.searchBar {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 80px;
    padding-right: 200px;
    border-radius: 6px;
    background: white;
    border: none;
    background-image: url('../Assets/searchIcon.png');
    background-position: 5px 5px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

.btn-sm-refresh {
    display: flex;
    margin-left: 210px;
    margin-top: 10px;
    color: rgb(73, 71, 71);
    padding-top: 0;
    border: none;
    background: none;
}

.btn-sm-list {
    display: flex;
    margin-left: 30px;
    margin-top: 10px;
    color: rgb(73, 71, 71);
    padding-top: 0;
    border: none;
    background: none;
}

.btn-sm-settings {
    display: flex;
    margin-left: 30px;
    margin-top: 10px;
    color: rgb(73, 71, 71);
    padding-top: 0;
    border: none;
    background: none;
}

.btn-sm-apps {
    display: flex;
    margin-left: 80px;
    margin-top: 10px;
    color: rgb(77, 74, 74);
    border: none;
    background: none;
}

.btn-sm-profile {
    display: flex;
    margin-left: 15px;
    margin-top: 10px;
    color: rgb(78, 78, 78);
    padding-top: 0;
    border: none;
    background: none;
}

.btn-sm-outline {
    display: flex;
    margin-left: 15px;
    margin-top: 10px;
    color: rgb(73, 71, 71);
    padding-top: 0;
    border: none;
    background: none;
}